.questionBox {
  text-align: left;
  margin: 20px auto;
  max-width: 650px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f79af0;
}

.questionBox > p:first-child {
  font-size: 20px;
  background: #e55bfd;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
.questionBox > p:nth-child(2) {
  font-size: 28px;
  font-weight: 600;
  color: white;
  background-color: rgb(253, 61, 157);
  border-radius: 5px;
  padding: 5px 10px;
}

.answers > button {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: hotpink;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: -webkit-fill-available;
}
