.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.quiz-app {
  font-size: 32px;
}

select {
  padding: 10px 20px;
  display: block;
  margin: 15px auto;
}

.begin-quiz {
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
}
